<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <% include ./head %>

    </head>
    <body class="logged_in  env-production macintosh  page-profile mine">
        <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
        <div class="wrapper">
            <% include ./logined-banner %>
            <div class="site clearfix" role="main">
                <div id="site-container" class="context-loader-container" data-pjax-container>
                    <div class="container">
                        <div class="columns">
                            <div class="column one-fourth menu-container" role="navigation">
                                <ul class="menu accordion" data-pjax>
                                    <li class="section">
                                        <a href="/home" class="section-head">
                                        <img height="20" src="/avatars/<%= developer.profile.avatarImg%>" width="20" />
                                        <%= developer.name%>
                                        </a>
                                        <ul class="expanded section-nav">
                                            <li>
                                                <a href="/settings/profile" class="js-selected-navigation-item " data-selected-links="avatar_settings /settings/profile">Profile</a>
                                            </li>
                                            <li>
                                                <a href="/settings/admin" class="js-selected-navigation-item " data-selected-links=" /settings/admin">Account settings</a>
                                            </li>
                                            <li>
                                                <a href="/settings/applications" class="js-selected-navigation-item selected" data-selected-links="applications_settings /settings/applications">Applications</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="column three-fourths">
                                <div class="boxed-group application-show-group">
                                    <h3>
                                        <a href="/settings/applications" class="boxed-group-breadcrumb" data-pjax="true">Applications /</a>
                                        Register a new OAuth2 application
                                    </h3>
                                    <div class="boxed-group-inner">
                                        <form accept-charset="UTF-8" action="/settings/applications" class="new_oauth_application" id="new_oauth_application" method="post">
                                            <div class="logo-upload is-default js-uploadable-container js-upload-oauth-logo upload-enabled" data-upload-policy-url="/upload/policies/oauth_applications">
                                                <a class="delete js-delete-oauth-application-image tooltipped tooltipped-s" aria-label="delete this image" href="#">
                                                <span class="octicon octicon-x"></span>
                                                </a>
                                                <div class="logo-box">
                                                    <input class="js-oauth-application-logo-id" id="oauth_application_logo_id" name="application[logo_id]" type="hidden" />
                                                    <img alt="" class="js-image-field" height="140" src="https://avatars1.githubusercontent.com/u/2142730?v=2&amp;s=280" width="140" />
                                                    <div class="logo-placeholder">
                                                        <span class="mega-octicon octicon-cloud-upload"></span>
                                                        <p>Drag &amp; drop</p>
                                                    </div>
                                                </div>
                                                <p class="drag-and-drop">
                                                    <span class="default">
                                                    <span class="or">or</span>
                                                    <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
                                                    <a class="manual-file-chooser-text" href="#">choose an image</a>
                                                    </span>
                                                    <span class="loading">
                                                    <img alt="" height="16" src="https://assets-cdn.github.com/images/spinners/octocat-spinner-32.gif" width="16" /> Uploading…
                                                    </span>
                                                    <span class="error bad-file">
                                                    Only images, please.
                                                    <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
                                                    <span class="drag-and-drop-error-info">
                                                    <a class="manual-file-chooser-text" href="#">Try again.</a>
                                                    </span>
                                                    </span>
                                                    <span class="error file-too-big">
                                                    5MB or less, please.
                                                    <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
                                                    <span class="drag-and-drop-error-info">
                                                    <a class="manual-file-chooser-text" href="#">Try again.</a>
                                                    </span>
                                                    </span>
                                                    <span class="error failed-request">
                                                    Whoops!
                                                    <input type="file" multiple="multiple" class="manual-file-chooser js-manual-file-chooser">
                                                    <span class="drag-and-drop-error-info">
                                                    <a class="manual-file-chooser-text" href="#">Try again.</a>
                                                    </span>
                                                    </span>
                                                </p>
                                            </div>
                                            <dl class="form <%= verifyResult.nameErr ? 'errored' : '' %>">
                                                <dt class="input-label"><label autofocus="autofocus" class="wide" for="oauth_application_name" tabindex="2">Application name</label></dt>
                                                <dd>
                                                    <input autofocus="autofocus" class="wide" id="oauth_application_name" name="application[name]" size="30" tabindex="2" type="text" value="<%= application.name %>"/>
                                                    <% if (!verifyResult.nameErr) {%>
                                                    <p class="note">Something users will recognize and trust</p>
                                                    <% }%>
                                                </dd>
                                                <% if (verifyResult.nameErr) {%>
                                                <dd class="error"><%= verifyResult.nameErr %></dd>
                                                <% }%>
                                            </dl>
                                            <dl class="form <%= verifyResult.urlErr ? 'errored' : '' %>">
                                                <dt class="input-label"><label class="wide" for="oauth_application_url" tabindex="3">Homepage URL</label></dt>
                                                <dd>
                                                    <input class="wide" id="oauth_application_url" name="application[url]" size="30" tabindex="3" type="text" value="<%= application.url %>"/>
                                                    <% if (!verifyResult.urlErr) {%>
                                                    <p class="note">The full URL to your application homepage</p>
                                                    <% }%>
                                                </dd>
                                                <% if (verifyResult.urlErr) {%>
                                                <dd class="error"><%= verifyResult.urlErr %></dd>
                                                <% }%>
                                            </dl>
                                            <dl class="form">
                                                <dt class="input-label"><label class="short" for="oauth_application_description" placeholder="Application description is optional" tabindex="4">Application description</label></dt>
                                                <dd>
                                                    <textarea class="short" cols="40" id="application_description" name="application[description]" placeholder="Application description is optional" rows="20" tabindex="4"><%= application.description %></textarea>

                                                    <p class="note">This is displayed to all potential users of your application</p>

                                                </dd>
                                            </dl>
                                            <hr class="bleed-flush">
                                            <dl class="form <%= verifyResult.callbackErr ? 'errored' : '' %>">
                                                <dt class="input-label"><label class="wide" for="oauth_application_callback_url" tabindex="5">Authorization callback URL</label></dt>
                                                <dd>
                                                    <input class="wide" id="oauth_application_callback_url" name="application[callback]" size="30" tabindex="5" type="text" value="<%= application.callback %>"/>
                                                    <% if (!verifyResult.callbackErr) {%>
                                                    <p class="note">Your application's callback URL. Read our <a href='#' target='_blank'>OAuth2 documentation</a> for more information</p>
                                                    <% }%>
                                                </dd>
                                                <% if (verifyResult.callbackErr) {%>
                                                <dd class="error"><%= verifyResult.callbackErr %></dd>
                                                <% }%>
                                            </dl>
                                            <p><button type="submit" class="button primary" tabindex="5">Register application</button></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-backdrop"></div>
            </div>
        </div>
        <!-- /.wrapper -->
        <% include ./footer %>

    </body>
</html>
