<!DOCTYPE html>
<html lang="en" class="">
   <head>
      <% include ./head %>
   </head>
   <body class="logged_out  env-production macintosh  signup">
      <a href="#start-of-content" tabindex="1" class="accessibility-aid js-skip-to-content">Skip to content</a>
      <div class="wrapper">
         <% include ./banner %>
         <div class="site clearfix" role="main">
            <div id="site-container" class="context-loader-container" data-pjax-container>
               <div class="setup-wrapper">
                  <div class="setup-header">
                     <h1>Join Shinify</h1>
                     <p class="lead">The best way to integrate with Fudan BBS.</p>
                  </div>
                  <div class="setup-main ">
                     <div class="setup-form-container">
                        <noscript>
                           <p class="error">Shinify does not support browsers with JavaScript disabled.<br>
                              We promise we'll behave.
                           </p>
                        </noscript>
                        <form accept-charset="UTF-8" action="/join" autocomplete="off" class="setup-form js-form-signup-detail" id="signup-form" method="post">
                           <h2 class="setup-form-title">
                              Create your developer account
                           </h2>
                           <% if (verifyResult.error) {%>
                             <div class="flash flash-error"><%= verifyResult.errMsg %></div>
                             <% }%>

                           <dl class="form <%= verifyResult.nameErr ? 'errored' : '' %>">
                              <dt class="input-label"><label autocapitalize="off" autofocus="autofocus" for="user_login" name="user[login]">Username</label></dt>
                              <dd>
                                 <input autocapitalize="off" autofocus="autofocus" id="user_login" name="user[name]" size="30" type="text" value="<%= developer.name %>"/>
                                 <% if (!verifyResult.nameErr) {%>
                                 <p class="note">This will be your username — you can enter your username when login.</p>
                                 <% }%>
                              </dd>
                              <% if (verifyResult.nameErr) {%>
                              <dd class="error"><%= verifyResult.nameErr %></dd>
                              <% }%>

                           </dl>
                           <dl class="form <%= verifyResult.emailErr ? 'errored' : '' %>">
                              <dt class="input-label"><label autocapitalize="off" for="user_email" name="user[email]">Email Address</label></dt>
                              <dd>
                                 <input autocapitalize="off" id="user_email" name="user[email]" size="30" type="text" value="<%= developer.email %>" />
                                 <% if (!verifyResult.emailErr) {%>
                                 <p class="note">You will occasionally receive account related emails. We promise not to share your email with anyone.</p>
                                 <% }%>
                              </dd>
                              <% if (verifyResult.emailErr) {%>
                              <dd class="error"><%= verifyResult.emailErr %></dd>
                              <% }%>
                           </dl>
                           <dl class="form <%= verifyResult.passwordErr ? 'errored' : '' %>">
                              <dt class="input-label"><label for="user_password" name="user[password]">Password</label></dt>
                              <dd>
                                 <input id="user_password" name="user[password]" size="30" type="password" />
                                 <% if (!verifyResult.passwordErr) {%>
                                 <p class="note">Use at least one lowercase letter, one numeral, and seven characters.</p>
                                 <% }%>
                              </dd>
                              <% if (verifyResult.passwordErr) {%>
                              <dd class="error"><%= verifyResult.passwordErr %></dd>
                              <% }%>
                           </dl>
                           <dl class="form">
                              <dt class="input-label"><label for="user_password_confirmation">Confirm your password</label></dt>
                              <dd><input id="user_password_confirmation" name="user[password_confirmation]" size="30" type="password" /></dd>
                           </dl>
                           <input type="hidden" name="source_label" value="Detail">
                           <p class="tos-info">By clicking on "Create an account" below, you are agreeing to the
                              <a href="#" target="_blank">Terms of Service</a> and the
                              <a href="#" target="_blank">Privacy Policy</a>.
                           </p>
                           <div class="form-actions">
                              <button type="submit" class="button primary" id="signup_button" data-disable-with="Creating account&hellip;">Create an account</button>
                           </div>
                        </form>
                     </div>
                     <!-- /.setup-form-container -->
                  </div>
                  <!-- /.setup-main -->
                  <div class="setup-secondary">
                     <div class="setup-info-module">
                        <h2>You’ll love Shinify</h2>
                        <ul class="features-list">
                           <li><strong>Quick</strong> of integration</li>
                           <li><strong>Easy</strong> of use</li>
                           <li class="list-divider"></li>
                           <li><span class="octicon octicon-check"></span> Resource based request</li>
                           <li><span class="octicon octicon-check"></span> State-less communication</li>
                           <li><span class="octicon octicon-check"></span> Flexible access control</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-backdrop"></div>
         </div>
      </div>
      <!-- /.wrapper -->
      <% include ./footer %>
   </body>
</html>
