<p>We heard that you lost your Shinify password. Sorry about that!</p>
</br>
<p>But don't worry! You can use the following link within the next day to reset your password:</p>
</br>
<p><a href="<%= hostAddress%>/password/reset/<%= resetToken%>"><%= hostAddress%>/password/reset/<%= resetToken%></a></p>
</br>
<p>If you don't use this link within 24 hours, it will expire. To get a new password reset link, visit <a href="<%= hostAddress%>/password/reset"><%= hostAddress%>/password/reset</a></p>
</br>
<p>Thanks,</p>
<p>Your friends at Shinify</p>
